.thumbnail
{
  position: relative;
  background-color: #3c3a3a;
}


.titulo
{
  text-align: center;
  color: grey;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
}

.descripcion
{
text-align: center;
color: black;
font-size: 20px;
}
.genero
{
  text-align: center;
}
.modif p
{
text-align: center;
}
